.work{
  font-family: sans-serif;
  margin-bottom: 70px;
}
.section-header{
  color: red;
  text-decoration: underline;
  font-size: 45px;
}
.education{
  font-family: sans-serif;
  margin-bottom: 70px;
}
h1{
  font-size: 55px;
}
